; Optimize strategy indicator's Force period param.
Force_Indi_Force_Applied_Price={{ applied_price | default(0) }}
Force_Indi_Force_MA_Method={{ ma_method | default(0) }}
Force_Indi_Force_Period,1=4
Force_Indi_Force_Period,2=4
Force_Indi_Force_Period,3=24
Force_Indi_Force_Period,F=1
Force_Indi_Force_Period={{ period | default(4) }}
Force_SignalOpenFilterMethod=1
Force_TickFilterMethod=1
